<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap1.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style1.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="booking-cta">
							<h1>Make your reservation</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam numquam at</p>
						</div>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<div class="booking-form">
							<form th:action="@{/reservation}" th:object="${reservation}" method="post">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" th:field="*{name}">
											<span class="form-label" >Name</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="email" th:field="*{email}">
											<span class="form-label"  name="email" >Email</span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="tel" th:field="*{phone}">
											<span class="form-label" name="phone" >Phone</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="form-group">
											<span class="form-label" name="rooms" > Rooms</span>
											<select class="form-control" th:field="*{rooms}">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="date" th:field="*{checkIn}" placeholder="YYYY-MM-DD" required>
											<span class="form-label">Check In (YYYY-MM-DD)</span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="date"  th:field="*{checkOut}" placeholder="YYYY-MM-DD" required>
											<span class="form-label">Check Out (YYYY-MM-DD)</span>
										</div>
									</div>
									<!--<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" id="IdInput" type="hidden"  th:field="*{id}" required>
											<span class="form-label" >id</span>
										</div>
									</div>-->
									<input type="hidden" name="hotelId" th:value="${hotelId}">

								</div>
								<div class="form-btn">
									<button class="submit-btn">Book Now</button>
								</div>
							</form>
							<a th:href="@{/}" class="btn btn-back">Retour à la Page d'Accueil</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
		document.addEventListener('DOMContentLoaded', function() {
			var hotelIdInput = document.getElementById('IdInput');
			var randomId = generateRandomId(); // Appel à une fonction de génération d'identifiant aléatoire
			hotelIdInput.value = randomId;
		});

		function generateRandomId() {
			// Génération de l'identifiant aléatoire
			// Vous pouvez utiliser une logique personnalisée pour générer l'identifiant aléatoire ici
			// Par exemple, vous pouvez utiliser la fonction Math.random() pour générer un nombre aléatoire
			// et le convertir en une chaîne de caractères ou en un format spécifique
			// Assurez-vous simplement que la logique de génération d'identifiant est unique et appropriée à vos besoins
			// Voici un exemple simple pour générer un identifiant aléatoire de 8 caractères :
			var randomId = Math.random().toString(36).substring(2, 10);
			return randomId;
		}
	</script>

</body>

</html>